.git
.github
.vscode
.DS_Store
.env
.env.*
.dockerignore
Dockerfile*
compose*.yml
compose*.yaml

__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/
.ruff_cache/

env/
.venv/
venv/

build/
dist/
AppDir/
appimage/
appimage-build/
*.AppImage
*.AppImage.zsync
*.exe
*.zip

cache/
*.jar
settings.json
log.txt
dump.dat
lock.file
*.new

deploy/
docs/
tests/

build.bat
build.sh
build.spec
manual.txt
pack.bat
run_dev.bat
setup_env.bat
setup_env.sh
README.md
