TDM_DATA_DIR=/var/lib/twitchdropsminer
TDM_WEB_HOST=127.0.0.1
TDM_WEB_PORT=5800
TDM_WEB_USERNAME=admin
TDM_WEB_PASSWORD_FILE=/etc/twitchdropsminer/web_password
TDM_WEB_COOKIE_SECURE=true
TDM_WEB_TRUST_PROXY=true
